.login-form {
    max-width: 300px;
    margin: 0 auto;
}

#inputUserName {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#inputPassword {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}