<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>

    <div class="panel panel-primary" style="max-width:400px">
        <div class="panel-heading">
            <h3 class="panel-title">Please sign in</h3>
        </div>
        <div class="panel-body">
            <form class="login-form">
                <label for="inputUsername" class="sr-only">User name</label>
                <input type="text" ng-model="userName" class="form-control" placeholder="User name" required="" autofocus="">
                <br/>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" ng-model="password" class="form-control" placeholder="Password" required="">
                <br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <div class="checkbox">
                    <div>
                        <a style="background-color: white;" href="#/Signup">Don't have an account? <strong>Signup</strong> ...</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>