<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="panel panel-primary" style="max-width:700px">
            <div class="panel-heading">
                <h3 class="panel-title">Organize Lunch</h3>
            </div>
            <div class="panel-body">


                <p>Ok, so you want to organize a lunch with buddies?  You've come to the right place! Let's go...</p>
                <h3>Who do you want to include in the lunch plan?</h3>
                <div class="dropdown">
                    <button ng-model="selectedUser"class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ selectedUser }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="user in allUsers">
                            <a ng-click="userSelected(user)">{{ user.username }}</a>
                        </li>
                    </ul>
                    <button class="btn btn-md btn-primary" ng-click="addAttendee()" style="max-width:100px">Add</button>
                </div>

                <br/>
                <h4>Selected attendees:</h4>
                <div style="margin:20px">
                    <ul class="list-group" ng-repeat="attendee in attendees">
                        <li>
                            <div>
                                {{ attendee }}
                                <span style="width:100px;display:inline-block"></span>
                                <button class="btn btn-danger" ng-click="removeAttendee(attendee)" type="checkbox" style="padding:5px">Remove</button>
                            </div>
                        </li>
                    </ul>
                </div>

                <hr/>
                <div>
                    <h3>What are you in the mood for today?</h3>
                    <div class="dropdown">
                        <button ng-model="selectedCuisine"class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ selectedCuisine }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li ng-repeat="cuisine in cuisines">
                                <a ng-click="cuisineSelected(cuisine)">{{ cuisine }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <br/>
                <div>
                    <button class="btn btn-lg btn-primary btn-block" ng-click="organizeLunch()" style="max-width:300px;float:right">Get recommendations!</button>
                    <span spinner-key="spinner-1" us-spinner="{radius:30, width:8, length: 16}"></span>
                </div>

            </div>
        </div>
    </div>
</body>
</html>