<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <div class="container">
        <div class="panel panel-primary" style="max-width:700px">
            <div class="panel-heading">
                <h3 class="panel-title">Profile</h3>
            </div>
            <div class="panel-body">
                <h4>Food preferences</h4>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="preferences.seaFood"/>Sea food
                    </label>
                    <label style="margin:0 0 0 10px">
                        <input type="checkbox" ng-model="preferences.vegetarian"/>Vegetarian
                    </label>
                    <label style="margin:0 0 0 10px">
                        <input type="checkbox" ng-model="preferences.mexican"/>Mexican
                    </label>
                    <label style="margin:0 0 0 10px">
                        <input type="checkbox" ng-model="preferences.italian"/>Italian
                    </label>
                </div>

                <button class="btn btn-lg btn-primary btn-block" ng-click="setProfile()" style="max-width:100px;float:right">Done</button>
                <div ng-show="done" class="container">
                    <h3>Thank you</h3>
                </div>

            </div>
        </div>
    </div>
</body>
</html>