<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <div class="container">
        <div class="panel panel-primary" style="max-width:700px">
            <div class="panel-heading">
                <h3 class="panel-title">Profile</h3>
            </div>
            <div class="panel-body">
                <input type="text" ng-model="favoriteRestaurant" placeholder="Favorite restaurant"/>
                <h4>Food preferences</h4>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="preferences.seaFood"/>Sea food
                    </label>
                    <label>
                        <input type="checkbox" ng-model="preferences.chinese"/>Chinese
                    </label>
                </div>

                <button ng-click="setProfile()">Done</button>

            </div>
        </div>
    </div>
</body>
</html>