<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="panel panel-primary" style="max-width:400px">
        <div class="panel-heading">
            <h3 class="panel-title">Enter your information</h3>
        </div>
        <div class="panel-body">

            <form class="login-form">
                <label for="inputName" class="sr-only">Name</label>
                <input type="text" ng-model="name" class="form-control" placeholder="Name" required="" autofocus="">
                <br/>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" ng-model="email" class="form-control" placeholder="Password" required="">
                <br/>
                <label for="inputUsername" class="sr-only">User name</label>
                <input type="text" ng-model="userName" class="form-control" placeholder="User name" required="">
                <br/>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" ng-model="email" class="form-control" placeholder="Email" required="">
                <br/>

                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signup()">Register</button>
            </form>

        </div>
    </div>

</body>
</html>